<div class="container-fluid">
    <h1 style="padding-top: 2%;">Content</h1>
    <ul>
        <li>Form</li>
        <li>Users data list</li>
        <li>API List</li>
    
    </ul>
    <h1 style="padding-top: 5%;">Avram's form</h1>
    <hr />
    <form id="form" class="row g-3" #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

        <div class="form-group">
            <label>Name</label>
            <input  type="text" required #name="ngModel" name="userName"
            [class.is-invalid]="name.invalid && name.touched"  class="form-control is-invalid" [(ngModel)]="userInfoes.name">
            <small class="text-danger" [class.d-none]="name.valid || name.untouched"> Name is required</small>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" required #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            [class.is-invalid]="email.invalid && email.touched" class="form-control is-invalid" name="eMail" [(ngModel)]="userInfoes.email">
            <small class="text-danger" [class.d-none]="email.valid || email.untouched"> E-mail is required (e-mail format: example@example.com)</small>

        </div>

        <div class="form-group">
            <label>Phone</label>
            <input type="tel" #phone="ngModel" pattern="^(\+4|)?(07[0-8]{1}[0-9]{1}|02[0-9]{2}|03[0-9]{2}){1}?(\s|\.|\-)?([0-9]{3}(\s|\.|\-|)){2}$"
            [class.is-invalid]="phone.invalid && phone.touched" class="form-control" name="phoneNumber" [(ngModel)]="userInfoes.phone">
            <small class="text-danger" [class.d-none]="phone.valid || phone.untouched"> Should be romanian phone number (ex: 0770992832)</small>
        </div>        
        
        <div class="form-group">
            <select (blur)="validateBloodType(bloodType.value)" (change)="validateBloodType(bloodType.value)" #bloodType="ngModel" [class.is-invalid]="bloodTypeFlag && bloodType.touched" class="form-select"  name="bloodType" [(ngModel)]="userInfoes.bloodType"> 
                <option value="default"> Blood type </option>
                <option *ngFor="let bloodType of bloodTypes">{{bloodType}}</option>
            </select>
            <small class="text-danger" [class.d-none]="!bloodTypeFlag || bloodType.untouched"> Please select your blood type</small>
        </div>   

        <div class="form-group">
            <select (blur)="validateRh(rh.value)" (change)="validateRh(rh.value)" #rh="ngModel" [class.is-invalid]="rhFlag && rh.touched" class="form-select" name="rh" [(ngModel)]="userInfoes.rh"> 
                <option value="default"> Rh type </option>
                <option *ngFor="let rh of rhs">{{rh}}</option>
            </select>
            <small class="text-danger" [class.d-none]="!rhFlag || rh.untouched"> Please select your Rh</small>
        </div>   
        
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" name="subscribe" [(ngModel)]="userInfoes.subscribe">
            <label class="form-check-label">
                Send me more information about blood donation
            </label>
        </div>
    
        <button [disabled]="userForm.form.invalid || bloodTypeFlag || rhFlag" class="btn btn-primary" type="submit"> Push submit form for add to list</button>
    </form>

    <h1 style="padding-top: 8%;">Users list</h1>
        <hr />
    <ul style="padding-bottom: 10%" class="list-group">
        <li class="list-group-item active" aria-current="true">Users</li>
        <li class="list-group-item" *ngFor="let user of usersList"> name: {{user.name}}, 
                                                                    e-mail: {{user.email}}, 
                                                                    phone: {{user.phone}}, 
                                                                    blood type: {{user.bloodType}}, 
                                                                    rh: {{user.rh}},
                                                                    subscribe: {{user.subscribe}} </li>
    </ul>

    <h1 style="padding-top: 8%;">API list</h1>
        <hr />
    <ul style="padding-bottom: 10%" class="list-group">
        <li class="list-group-item active" aria-current="true">Api</li>
    </ul>


</div>