<div class="container">
  <div class="col pt-3">
    <div class="h3">Cuprins</div>
    <div class="row-3 links">
      <div (click)="scroll(userForm)">Form</div>
      <div (click)="scroll(list1)">List1</div>
      <div (click)="scroll(list2)">List2</div>
    </div>
    <div class="row-3 pt-5">
      <div class="h3">Formular</div>
      <form #userForm="ngForm">
        <div class="form-group pt-3">
          <label for="name">name</label>
          <input type="text" class="form-control" id="name" placeholder="name" required [(ngModel)]="user.name"
            name="name">
        </div>
        <div class="form-group">
          <label for="username">username</label>
          <input type="text" class="form-control" id="username" placeholder="username" required
            [(ngModel)]="user.username" name="username">
        </div>
        <div class="form-group">
          <label for="email">email</label>
          <input type="text" class="form-control" id="email" placeholder="email" required [(ngModel)]="user.email"
            name="email">
        </div>
        <div class="d-flex justify-content-between">
          <button class="btn btn-primary" (click)="addToList()" [disabled]="!userForm.valid">Add</button>
          <button class="btn btn-default" (click)="onClear(); userForm.reset()">Clear</button>
        </div>
      </form>
    </div>
    <div class="pt-5" #list1>
      <div class="h3">List 1</div>
      <ol class="p-5">
        <li *ngFor="let user of usersList1">
          <p>Name: {{user.name}}</p> 
          <p>Username: {{user.username}}</p> 
          <p>Email: {{user.email}}</p> 
        </li>
      </ol>
    </div>
    <div class="pt-5" #list2>
      <div class="h3">List 2</div>
      <div class="p-5">
        <li *ngFor="let user of usersList2">
          <code>
                  <pre>{{user |json}}</pre>
                </code>
        </li>
      </div>
    </div>
  </div>
</div>