.list {
  padding-top: 50px;
  .list-item {
    .editButtons {
      display: block;
      opacity: 0;
    }
  }
  tr {
    border: none;
    td {
      border: none;
    }
  }

  .list-item:hover {
    .editButtons {
      display: flex;
      justify-content: right;
      opacity: 1;
    }
  }

  table {
    margin-top: 50px;
    width: 100%;
  }
}

.d-flex {
  justify-content: right;
}
